textarea {color:#000000; font-family:"µ¸À½"; font-size:9pt;
line-height:120%; background-color:#FFFFFF; border: 1 solid #999999}
td {color:#3f3f3f; font-family:"µ¸À½"; font-size:9pt; line-height:170%;}
td a {color:#333377; font-family:"µ¸À½"; font-size:9pt; line-height:170%;
text-decoration:none;}
td a:hover {color:#3366CC; font-family:"µ¸À½"; font-size:9pt; line-height:170%;
text-decoration:underline;}
input {color:#000000; font-family:"µ¸À½"; font-size:9pt;
line-height:120%; background-color:#FFFFFF; border: 1 solid #999999}
